<div class="container">
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr />
  <div class="row">
    <div class="col-xs-12"></div>
    <app-server-element
      *ngFor="let element of serverElements"
      [serverElement]="element"
    >
      <p #ngContentParagraph>Passed with ng-content</p>
    </app-server-element>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-game-control
        (gameStarted)="onGameStarted($event)"
      ></app-game-control>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-odd *ngFor="let num of oddNumbers" [number]="num"></app-odd>
      <app-even *ngFor="let num of evenNumbers" [number]="num"></app-even>
    </div>
  </div>
</div>
