<form class="ui form" (ngSubmit)="onSubmit()" [formGroup]="emailFrom">
  <app-input
    label="To"
    type="email"
    [control]="emailFrom.get('to')"
  ></app-input>
  <app-input
    label="From"
    type="email"
    [control]="emailFrom.get('from')"
  ></app-input>
  <app-input
    label="Subject"
    type="text"
    [control]="emailFrom.get('subject')"
  ></app-input>
  <app-input
    label="Content"
    type="text"
    [control]="emailFrom.get('text')"
    controlType="textarea"
  ></app-input>
  <button class="ui button primary">Send</button>
</form>
