<h3>Create an Account</h3>
<form class="ui form" [formGroup]="signUpForm">
  <div class="field">
    <label>Username</label>
    <input type="text" formControlName="username" />
  </div>
  {{ signUpForm.get("username").errors | json }}
  <div class="field">
    <label>Password</label>
    <input type="password" formControlName="password" />
  </div>
  {{ signUpForm.get("password").errors | json }}
  <div class="field">
    <label>Password Confirmation</label>
    <input type="password" formControlName="passwordConfirmation" />
  </div>
  {{ signUpForm.get("passwordConfirmation").errors | json }}
  <button class="ui submit button primary">Sign Up</button>
</form>
