<h3>Create an Account</h3>
<form (ngSubmit)="onSubmit()" class="ui form" [formGroup]="signUpForm">
  <app-input
    type="text"
    label="Username"
    [control]="signUpForm.get('username')"
  ></app-input>
  <app-input
    type="password"
    label="Password"
    [control]="signUpForm.get('password')"
  ></app-input>
  <app-input
    type="password"
    label="Password Confirmation"
    [control]="signUpForm.get('passwordConfirmation')"
  ></app-input>
  <div
    *ngIf="
      signUpForm.get('password').touched &&
      signUpForm.get('passwordConfirmation').touched &&
      signUpForm.errors
    "
    class="ui red basic label"
  >
    <p *ngIf="signUpForm.errors.passwordsDoNotMatch">Passwords do not match.</p>
    <p *ngIf="signUpForm.errors.unknownError">Unknown error.</p>
  </div>
  <div>
    <button class="ui submit button primary">Sign Up</button>
  </div>
</form>
