<label for="serverName">Server Name</label>
<!-- <input
  type="text"
  id="serverName"
  class="form-control"
  (input)="onUpdateServerName($event)"
/> -->
<input
  type="text"
  id="serverName"
  class="form-control"
  [(ngModel)]="serverName"
/>
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>

<ng-container *ngIf="serverCreated; else elseTemplate">
  <p>Server was created! Server name is {{ serverName }}</p>
</ng-container>
<ng-template #elseTemplate>
  <p>No server was created</p>
</ng-template>

<label for="username">Username</label>
<input type="text" id="username" class="form-control" [(ngModel)]="username" />
<p>{{ username }}</p>
<button
  class="btn btn-primary"
  [disabled]="username === ''"
  (click)="username = ''"
>
  Reset User
</button>

<app-server *ngFor="let server of servers"></app-server>

<button class="btn btn-primary" (click)="toggle()">Display Details</button>
<p *ngIf="showDetails">Details</p>

<p
  *ngFor="let l of log; let i = index"
  [ngStyle]="{ color: i >= 4 ? 'red' : '' }"
  [ngClass]="{ log: i >= 4 }"
>
  {{ l }}
</p>
